.checkout-process{
	border-top: 1px solid #AAAAAA;
	border-bottom:  1px solid #AAAAAA;
	height: 48px;
	position: absolute;
	top: 120px;
	z-index: 20;
	width: 100%;
	background: #fff;
}
.ck-sub-nav {
    width: 600px;
    text-align: center;
}
.ck-sub-nav span{
	padding: 0 40px;
	font-size: 14px;
	color: #AAAAAA;
}
.current-step{
	color: #000!important;
}
.ck-detail{
	padding: 60px 15px;
}
.ck-d-left{
	margin-right: 400px;
	overflow: hidden;
}
.ck-d-right{
	position: absolute;
	right: 15px;
	top: 60px;
	width: 370px;
}
.required-label{
	text-align: right;
	color: #555555;
	font-size: 14px;
	position: absolute;
	top: -30px;
	right: 0;
}
.ck-detail h2{
	font-size: 22px;
	padding-bottom: 30px;
	border-bottom: 1px solid #AAAAAA;
}
.ck-d-wrapper{
	max-width: 370px;
	padding: 20px 0;
	width: calc(100% - 30px);
}
.login-input{
	width: 100%;
}
.login-title{
	padding-bottom: 8px;
	font-size: 16px;
}
.login-input input{
	padding: 5px 10px;
	height: 29px;
	width: calc(100% - 20px);
	border: 1px solid #AAAAAA;
	background-color: #fff;
	margin-bottom: 20px;
}
.login-remember-box{
	margin-bottom: 25px;
	font-size: 16px;
}
.delivery-box{
	padding: 35px 0;
	border-top: 1px solid #AAAAAA;
	border-bottom: 1px solid #AAAAAA;
}
.delivery-box h3{
	font-size: 22px;
	margin-bottom: 20px;
}
.delivery-item{
	padding: 30px;
	border: 1px solid #AAAAAA;
	max-width: 310px;
	font-size: 16px;
	line-height: 20px;
	/*float: left;*/
}
.delivery-item:hover{
	border: 1px solid #000;
}
.delete{
	text-decoration: line-through;
	color: #AAAAAA;
}
.checkout-button{
	width: 254px;
	height: 38px;
	background-color: #000;
	border: 1px solid #000;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 38px;
	margin: 30px 0 125px 0;
}
.address-another{
	display: none;
}
.address-another-show{
	display: block!important;
}
.order-detail{
	padding: 0 15px;
	border: 1px solid #AAAAAA;
	margin-top: -1px;
}
.item{
	border-bottom: 1px solid #AAAAAA;
	padding-bottom: 30px;
	overflow: hidden;
	padding: 20px 0;
}
.item-left{
	float: left;
}
.item-left img{
	width: 123px;
	height: auto;
}
.item-right{
	font-size: 16px;
	margin-left: 133px;
	line-height: 20px;
}
.item-right h3{
	font-size: 16px;
	font-weight: bold;
}
.item-right h4{
	font-size: 14px;
	font-weight: normal;
}
.justify-line{
	text-align: right;
	padding: 10px 0;
}
.justify-line span{
	float: left;
}
.price-detail{
	border-bottom: 1px solid #aaaaaa;
	padding:  20px 0;
}
.tax-des{
	text-align: center;
	padding-top: 20px;
}
.input-warning{
	border-color: red!important;
}

/* confirm checkout*/
.address-item{
	width: 385px;
	float: left;
	font-size: 16px;
	line-height: 20px;
	padding: 30px 0;
}
.address-item h4{
	margin-bottom: 15px;
}
.address-item p{

}
.cc-btn{
	width: 165px;
	border: 1px solid #AAAAAA;
	line-height: 38px;
	text-align: center;
	color: #AAAAAA;
	margin-top: 20px;
}
.cc-btn:hover{
	border-color: #000;
	color: #000;
}
.wechat-box{
	padding: 35px 0;
}
.wechat-box h3{
	font-size: 22px;
	margin-bottom: 20px;
}

@media(max-width: 768px){
	.ck-detail{
		padding: 15px;
	}
	.checkout-process{
		top: 60px;
		position: unset;
		margin-top: -1px;
	}
	.ck-d-right{
		position: unset;
		width: 100%;
	}
	.ck-detail h2{
		margin-top: 30px;
	}
	.ck-d-left{
		margin-right: 0;
	}
	.ck-d-wrapper{
		max-width: unset;
		width: calc(100% - 2px);
	}
	.ck-sub-nav{
		width: 100%;
	}
}
@media(max-width: 550px){
	.ck-sub-nav span{
		padding: 0 10px;
	}
}