/*contact us*/

.main {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
  /*min-height: 1000px;*/
  overflow: hidden;
  margin-bottom: 100px;
  padding-bottom: 40px;
}

.nav {
  position: relative;
  width: 168px;
  height: 232px;
  margin-top: 60px;
}

.nav_box_one {
  width: 100%;
  height: auto;
  margin-top: 20px
}

.nav_box {
  width: 100%;
  height: auto;
  margin-top: 15px
}

.hvr-underline-from-center::before {
  background: black !important;
}

.hvr-underline-from-center-selected {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  /*overflow: hidden;*/
}

.hvr-underline-from-center-selected::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: -4px;
  background: black;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  left: 0;
  right: 0
}

.nav h3 {
  font-size: 22px;
  line-height: 24px;
}

.content h3 {
  font-size: 22px
}

.content {
  position: relative;
  width: 80%;
  height: auto;
  float: right;
  top: -232px;
}

.inside {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
}

.content_box {
  width: 100%;
  height: auto;
  margin-bottom: 30px
}

.content_box a {
  color: #555555;
}

@media screen and (max-width: 599px) {
  .address_content {
    width: auto !important
  }
}


/*recruitment*/

.re_main {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
  height: 1300px;
}

.inside_re {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding-top: 17px;
  padding-bottom: 20px;
  border-top: 1px solid #CCCCCC;
}

.login-input textarea {
  padding: 5px;
  height: 230px;
  width: calc(100% - 10px);
  border: 1px solid #AAAAAA;
  background-color: #fff;
  margin-bottom: 20px;
  font-size: 11px;
  padding-top: 15px;
}

.sub-err {
  visibility: hidden;
  position: relative;
  float: right;
  bottom: 10px;
  color: red;
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .content {
    width: 75%
  }
}

@media screen and (max-width: 599px) {
  .content {
    width: 100%;
    top: 40px;
  }
  .re_main {
    height: 1400px
  }
  .nav h3{
    font-size: 20px;
  }
  .nav{
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid #CCCCCC;
    height: 20px;
    transition: height .3s ease;
  }
  .detail-expand-btn{
    position: absolute;
    right: 0px;
    top: 16px;
    width: 15px;
    height: 15px;
  }
  .detail-expand-btn div{
    width: 15px;
    border-bottom: 1px solid #000;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top:8px;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
  }
  .rotate div:nth-child(1){
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
  }
  .detail-open{
    height: 250px;
  }
}


/*myaccount*/


/*addressbook*/

.new_address {
  float: right;
  font-size: 16px;
  top: -22px;
  position: relative;
  color: #555555;
  border-bottom: 2px solid #555555;
}

.f_head {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #555555;
  display: flow-root;
}

.left_l {
margin-bottom: 20px;
}

.right_r {
margin-bottom: 50px;
}

.address_content {
  border: 1px black solid;
  width: 40%;
  height: auto;
  padding: 10px;
  margin-bottom: 20px;
}

.address_content p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.bot {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
}

.revise {
  color: #555555;
  cursor: pointer;
  border-bottom: 2px solid #555555
}

.delete {
  color: #555555;
  margin-left: 20px;
  border-bottom: 2px solid #555555;
  cursor: pointer;
}



.nodefault {
  font-size: 20px;
  color: #555555;
}

.address {
  margin-top: 40px !important;
}

.grid_system_left {
  float: left
}

.grid_system_right {
  float: right
}

@media screen and (max-width: 792px) {
  .grid_system_right, .grid_system_left {
    float: inherit !important
  }
  .address_content {
    width: auto!important
  }
}


/*addressbook new*/

.f_suhead {
  font-size: 14px;
  color: #555555;
}

.styled-checkbox {
  width: 20px;
  height: 20px;
  margin: 0px 15px 0px 0px;
  cursor: pointer;
  font-size: 18px;
  visibility: hidden;
  position: absolute;
}

.styled-checkbox + label:before {
  content: " ";
  background-color: #fff;
  display: inline-block;
  color:#000;
  width:20px;
  height:20px;
  visibility: visible;
  border:2px solid #000;
  margin-right: 20px;
  margin-top: -3px;
  float: left;
  }

.styled-checkbox:checked + label:before {
  content: "\2714";
  font-size: 20px;
  text-align: center;
  display: table;
 }


/*#readdress-form {
  display: -webkit-box;
}*/

.left_div {
  width: calc(50% - 100px);
  font-size: 16px;
  float: left;
  margin-right: -1px;
}

.right_div {
  width: calc(50% - 100px);
  /*padding-left: 200px;*/
  float: right;
  /*padding-top: 30px;*/
  font-size: 16px;
  margin-bottom: 160px;
}

.new_required_label {
  text-align: right;
  color: #555555;
  font-size: 14px;
  margin-bottom: 17px;
}

@media screen and (max-width: 900px) {
  .left_div, .right_div {
    width: 100% !important
  }

  .right_r {
    margin-top: 40px;
  }
}


/*accountinfo*/

.accountinfo-btn {
  margin: 20px 0px;
  width: 100%;
  height: 39px;
  background-color: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 0;
}

.accountinfo-btn:hover {
  background-color: black;
  color: white
}

.login-loading {
  visibility: hidden;
  position: relative;
}

.login-loading span {
  float: right;
  color: red;
  font-size: 20px;
  top: 20px;
  position: relative;
}

/*addressbooksingle*/
