/*contact us*/

.main {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
  height: 600px;
}

.nav {
  position: relative;
  width: 168px;
  height: 232px;
  margin-top: 60px;
}

.nav_box_one {
  width: 100%;
  height: auto;
  margin-top: 30px
}

.nav_box {
  width: 100%;
  height: auto;
  margin-top: 15px
}

.hvr-underline-from-center::before {
  background: black !important;
}

.content {
  position: relative;
  width: 80%;
  height: auto;
  float: right;
  top: -220px;
}

.inside {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #CCCCCC;
}

.content_box {
  width: 100%;
  height: auto;
  margin-bottom: 30px
}


/*recruitment*/

.re_main {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px;
  height: 1100px;
}

.inside_re {
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #CCCCCC;
}

.login-input textarea {
  padding: 5px;
  height: 230px;
  width: calc(100% - 10px);
  border: 1px solid #AAAAAA;
  background-color: #fff;
  margin-bottom: 20px;
  font-size: 11px;
  padding-top: 15px;
}

.sub-err {
  visibility: hidden;
  position: relative;
  float: right;
  bottom: 10px;
  color: red;
}

@media screen and (max-width: 900px) and (min-width: 600px) {
  .content {
    width: 75%
  }
}

@media screen and (max-width: 599px) {
  .content {
    width: 100%;
    top:40px;
  }
  .re_main {
    height: 1400px
  }

  .main {
    height:900px
  }
}
