.title{
	padding: 20px 0 30px;
	text-align: center;
	border-bottom: 1px solid #CCCCCC;
}
.subtitle{
	font-size: 22px;
	text-align: left;
}
.required-label{
	text-align: right;
	color: #555555;
	font-size: 14px;
	margin-bottom: 60px;
}
#login-div{
	width:calc(50% - 200px);
	padding: 30px 100px;
	font-size: 16px;
	float:left;
	border-right: 1px solid #CCCCCC;
	margin-right: -1px;
}
.login-input{
	width: 100%;
}
.login-title{
	padding-bottom: 8px;
	font-size: 16px;
	/*width:100px;*/
	text-align: left;
}
.login-input input{
	padding: 5px 10px;
	height: 29px;
	width:calc(100% - 20px);
	border: 1px solid #AAAAAA;
	background-color: #fff;
	margin-bottom: 25px;
}
.login-btn{
	/*margin: 20px 5px;*/
	border-radius: 0px;
	width: 100%;
	height: 39px;
	background-color: #000;
	color: #fff;
	border: none;
	font-size: 16px;
	cursor: pointer;
	line-height: 39px;
}
.login-err{
	/*padding: 5px;*/
	position: absolute;
	right: 100px;
	bottom: 125px;
	color: red;
	font-size: 12px;
	max-width: 370px;
	text-align: right;
}
.register-div .login-err{
	bottom: 113px;
}
.login-err img{
	width:20px;
	position: relative;
	top:4px;
	display: none;
}
.input-warning{
	border-color: red!important;
}
.login-remember-box{
	margin-bottom: 25px;
	font-size: 16px;
}
.login-forget{
	text-align: center;
	margin-top: 20px;
}
.register-div{
	margin-left: 50%;
	width:calc(50% - 200px);
	padding: 30px 100px;
	font-size: 16px;
	border-left: 1px solid #CCCCCC;
	margin-bottom: 160px;
}
.reg-policy{
	border-bottom: 1px solid #000;
	margin-bottom: 35px;
	display: inline-block;
}

.already-login{
	width: 370px;
	padding: 100px;
	margin:0 auto 160px auto;
}
.already-login p{
	margin-bottom: 30px;
}
.already-login p a:hover{
	text-decoration: underline;
}
.single-login-page{
	overflow: hidden;
	margin-bottom: 160px;
}
.active-des{
	padding: 30px 0;
}
.single-login-page a{
	/*text-decoration: underline;*/
	font-weight: bold;
}
.reset-div{
	padding: 30px 100px;
	font-size: 16px;
	text-align: center;
	margin: 0 auto;
}
.reset-sm-div{
	max-width: 370px;
	margin:0 auto;
}
#reset-c-btn{
	width: 158px;
	margin: 0 auto;
}
@media (max-width: 768px){
	#login-div,
	.register-div{
		padding: 30px;
    	width: calc(50% - 60px);
	}
}
@media(max-width: 550px){
	#login-div{
		float: unset;
		margin: 30px 0 ;
	}
	.register-div{
		margin-left: 0%;
	}
	#login-div,
	.register-div{
		padding: 15px;
    	width: calc(100% - 30px);
    	border:none;
	}
}