.breadcrum{
	font-size: 14px;
	color: #CCCCCC;
	margin: 30px 0 20px 0;
}
.breadcrum img{
	height: 14px;
	position: relative;
	top: 2px;
}
.breadcrum a:hover{
	color:#AB956E;
}
#slider{
	height: 564px;
	margin-bottom: 80px;
}
#slider img{
	max-height: 564px;
	opacity: 0.4;
	transition: opacity 0.3s ease-in-out;
	object-fit: cover;
	object-position: center;
	/*height: 100%;*/
}
.slick-current{
	opacity: 1!important;
}
.arrow{
	height: 24px;
	position: absolute;
	top: calc(50% - 22px);
	z-index: 10;
	padding: 10px;
}
.arrow img{
	opacity: 1!important;
}
.pre-arrow{
	left: -34px;
}
.nxt-arrow{
	left: calc(33% + 4px);
}
.product-info{
	width: 45%;
	min-width: 300px;
	padding: 60px 30px;
	position: absolute;
	right: 15px;
	top: 80px;
	background-color: #fff;
	z-index: 15;
}
.product-info h2{
	font-size: 28px;
}
.product-info h3{
	font-size: 16px;
}
.product-info h4{
	padding-top: 15px;
	font-size: 24px
}
.p-size-box{
	margin-top: 45px;
	height: 50px;
}
.p-size-box select{
	border-bottom: 1px solid #aaaaaa;
}
nav .drop-down {
	font-size: 16px;
	list-style: none; 
	overflow: hidden;
    height: 185px;
	width: calc(50% - 60px);
  	text-align: left;
  	border-bottom: 1px solid #AAAAAA;
  	-webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    position: absolute;
    /*left: 0;*/
    /*top: 0;*/
    z-index: 20;
    background-color: #fff;
}
nav .drop-down.closed {
    height: 30px;
}
nav .drop-down li {
	padding: 0px;
	border-bottom: 1px solid #AAAAAA;
	line-height: 36px;
  	height: 30px;
}
nav .drop-down li a {
    display: block;
    /*color: #AAAAAA;*/
    text-decoration: none;
}
.sort-item{
	text-align: center;
	color: #AAAAAA;
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
}
.sort-item:hover{
	color: #000;
}
.srot-select{
	background-color: #CCCCCC;
}
nav .drop-down img{
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	height: 14px;
	position: absolute;
	right: 5px;
	top: 11px;
	cursor: pointer;
}

.drop-expand{
	transform: rotate(90deg)!important;
	-ms-transform: rotate(90deg)!important;
}

#size-refer{
	color: #AAAAAA;
	position: absolute;
	left:50%;
	height: 30px;
	border-bottom: 1px solid #AAAAAA;
	display: inline-block;
	font-size: 14px;
	line-height: 36px;
	cursor: pointer;
}
#size-refer:hover{
	color: #000;
	border-bottom: 1px solid #000;
}
.p-btn-box div{
	height: 38px;
	width: calc(50% - 60px);
 	display: inline-block;
 	border-width: 1px;
 	border-style: solid;
 	font-size: 16px;
 	line-height: 38px;
 	padding:0 15px;
 	position: relative;
 	cursor: pointer;
}
#btn-cart{
	background-color: #000;
	color:#fff;
	border-color: #fff;
}
#btn-cart:hover{
	background-color: #AB956E;
}
#btn-wishlist{
	border-color: #AAAAAA;
	position: absolute;
	left: 50%;
}
#btn-wishlist:hover{
	color: #AB956E;
	border-color: #AB956E;
}
#btn-wishlist:hover #PRODUCT-PAGE{
	fill: #AB956E;
}
.p-btn-box div svg{
	position: absolute;
	right: 15px;
	top: 7px;
}
.detail-box{
	margin-top: 60px;
}
.detail-expand-box{
	font-size: 14px;
	line-height: 44px;
	border-bottom: 1px solid #AAAAAA;
	/*height: 44px;*/
	overflow: hidden;
	cursor: pointer;
}
.detail-expand-box p{
 	font-size: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    transition: opacity .25s,
                font-size .5s .25s,
                margin .5s .25s,
                padding .5s .25s;
}
.detail-open p{
	margin: .5em 0;
    padding: .5em 0;
    opacity: 1;
    font-size: 14px;
 	transition: font-size .25s,
                margin .25s,
                padding .25s,
                opacity .5s .25s;
}
.detail-expand-btn{
	position: absolute;
	right: 0px;
	top: 14px;
	width: 15px;
	height: 15px;
}
.detail-expand-btn div{
	width: 15px;
	border-bottom: 1px solid #000;
	transition: all 0.3s ease-in-out;
	position: absolute;
	top:8px;
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}
.rotate div:nth-child(1){
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}