.wishlist-box{
	margin-bottom: 160px;
	text-align: center;
}
.wishlist-title{
	font-size: 28px;
	margin-top: 75px;
	font-weight: 200;
}
.wishlist-desc{
	font-size: 22px;
	font-weight: 200;
	margin-top: 25px;
	margin-bottom: 70px;
}
.goshopping{
	width: 158px;
	height: 39px;
	margin:0 auto;
	border: 1px solid #AAAAAA;
	font-size: 16px;
	background-color: #fff;
	line-height: 39px;
	cursor: pointer;
}
.goshopping:hover{
	background-color: #000;
	color:#fff;
}
.title{
	margin: 20px 0 30px 0;
	font-size: 28px;
	font-weight: 200;
}
.item{
	border-top: 1px solid #AAAAAA;
	border-bottom:  1px solid #AAAAAA;
	margin-bottom: -1px;
	padding: 50px;
/*	height: 300px;
	transition: height .3s ease-in-out;*/
}
.wishlist-del{
	position: absolute;
	right: 50px;
	top: 10px;
	height: 18px;
	width: 18px;
	cursor: pointer;
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
}
.wishlist-del:hover{
	transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}
.item-left{
	width: 40%;
	float: left;
	text-align: center;
}
.item-left img{
	height: 196px;
}
.item-right{
	margin-left: 40%;
	padding-left: 50px; 
}

.product-info{
	text-align: left;
}
.product-info h2{
	font-size: 22px;
}
.product-info h3{
	font-size: 14px;
}
.product-info h4{
	padding-top: 15px;
	font-size: 18px
}
.p-size-box{
	margin-top: 35px;
	height: 50px;
}
.p-size-box select{
	border-bottom: 1px solid #aaaaaa;
}
nav .drop-down {
	font-size: 16px;
	list-style: none; 
	overflow: hidden;
    /*height: 185px;*/
	width: calc(50% - 25px);
  	text-align: left;
  	border-bottom: 1px solid #AAAAAA;
  	-webkit-transition: height 0.3s ease;
    transition: height 0.3s ease;
    position: absolute;
    /*left: 0;*/
    /*top: 0;*/
    z-index: 20;
    background-color: #fff;
}
nav .drop-down.closed {
    height: 30px;
}
nav .drop-down li {
	padding: 0px;
	border-bottom: 1px solid #AAAAAA;
	line-height: 30px;
  	height: 30px;
  	text-transform: uppercase;
  	cursor: pointer;
}
nav .drop-down li a {
    display: block;
    /*color: #AAAAAA;*/
    text-decoration: none;
}
.sort-item{
	/*text-align: center;*/
	font-size: 14px;
	padding-left: 20px;
	text-transform: uppercase;
	color: #AAAAAA;
	border-left: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
}
.sort-item:hover{
	color: #000;
}
.srot-select{
	background-color: #CCCCCC;
}
nav .drop-down img{
	transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	height: 14px;
	position: absolute;
	right: 5px;
	top: 11px;
	cursor: pointer;
}

.drop-expand{
	transform: rotate(90deg)!important;
	-ms-transform: rotate(90deg)!important;
}


.size-refer{
	color: #AAAAAA;
	position: absolute;
	right:0;
	height: 30px;
	border-bottom: 1px solid #AAAAAA;
	display: inline-block;
	font-size: 14px;
	line-height: 36px;
	cursor: pointer;
}
.size-refer:hover{
	color: #000;
	border-bottom: 1px solid #000;
}
.p-btn-box div{
	height: 38px;
	width: calc(50% - 55px);
 	display: inline-block;
 	border-width: 1px;
 	border-style: solid;
 	font-size: 16px;
 	line-height: 38px;
 	padding:0 15px;
 	position: relative;
 	cursor: pointer;
}
.btn-cart{
	background-color: #000;
	color:#fff;
	border-color: #fff;
}
.btn-cart:hover{
	background-color: #AB956E;
}
.btn-wishlist{
	border-color: #AAAAAA;
	position: absolute!important;
	right: 0;
}
.btn-wishlist:hover{
	color: #AB956E;
	border-color: #AB956E;
}
.btn-wishlist:hover .PRODUCT-PAGE{
	fill: #AB956E;
}
.p-btn-box div svg{
	position: absolute;
	right: 15px;
	top: 7px;
}


.number-select{
	position: absolute;
	top: -9px;
	left: calc(50% + 25px);
	font-size: 16px;
	text-align: center;
	/*height: 38px;*/
	line-height: 38px;
	overflow: hidden;
}
.number-select div{
	display: inline-block;
	border: 1px solid #AAAAAA;
	width: 38px;
	height: 38px;
	float: left;
}
.minuse, .plus{
	cursor: pointer;
}
.number{
	margin: 0 -1px;
}
.minuse img{
	position: relative;
	top: -5px;
}
.plus img{
	position: relative;
	top: 1px;
}